.column {
    height: 70%;
    width: 33%;
    float: left;
}
.column2 {
    height: 80%;
    width: 66%;
    float: left;
}
.columnContent {
    height: 100%;
    width: 93%;
    margin: 0 auto;
}
.columnContent textarea {
    height: 100%;
    width: 100%;
}
.description {
    width: 70%;
    margin: 0 auto 5%;
}

button {
    float: right;
    margin: 10px 3.5%;
    padding: 10px 30px;
}
